[submodule "Dependencies/GLEW"]
	path = Dependencies/GLEW
	url = https://github.com/siliotar/glew.git
[submodule "Dependencies/GLFW"]
	path = Dependencies/GLFW
	url = https://github.com/siliotar/glfw.git
[submodule "vox/src/glm"]
	path = vox/src/glm
	url = https://github.com/siliotar/glm.git
[submodule "vox/src/stb_image"]
	path = vox/src/stb_image
	url = https://github.com/siliotar/stb_image.git
[submodule "vox/src/json"]
	path = vox/src/json
	url = https://github.com/siliotar/json.git
